/* Global styles */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #424242;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #4c97e3;
    color: #333;
}

/* Home page styles */
section {
    margin: 2rem;
}

h2 {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

/* Create user page styles */
form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 1rem;
}

input[type="text"], input[type="password"] {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    margin-top: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #333;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

/* Login page styles */
form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
    margin-top: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #333;
}

/* Secret page styles */
.secret {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secret p {
    margin-top: 0;
}

.secret h2 {
    margin-top: 0;
}

.secret button {
    margin-top: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.secret button:hover {
    background-color: #fff;
    color: #333;
}
