{% extends "base.html" %}
{% block title %}Update!{% endblock %}
{% block header %}{{ errorMSG }}{% endblock %}
{% block content %}
    {% if Logged == true %}
        <form action="/update-pass" method="POST">
            <br>
            Enter current password:<input type="password" name="oldPassword" required>
            <br>
            Enter new password:<input type="password" name="newPassword" required>
            <br>
            <input type="submit" value="Submit" name="submit">
        </form>
    {% endif %}
{% endblock %}