{% extends "base.html" %}
{% block title %}View Users{% endblock %}
{% block header %}List Of Users{% endblock %}
{% block content %}
    {% if Logged == true %}
        <table>
        <th>Name</th>
        <th>Age</th>
        <th>Username</th>
        <th>Password</th>


        {% for member in list %}

            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.age }}</td>
                <td>{{ member.username }}</td>
                <td>{{ member.password }}</td>
            </tr>


        {% endfor %}
    {% endif %}
</table>

{% endblock %}