<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
    <script src="/static/code.js"></script>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/factors">Factors</a></li>
                <li><a href="/wordCount">Word Count</a></li>
            </ul>
        </nav>

        <h1>WHOA!</h1>
<!--        <img src="" alt=""><br>-->
        {% block content %}
        {% endblock %}
    </body>
</html>
