{% extends "base.html" %}
{% block title %} ~~Factors~~ {% endblock %}
{% block content  %}

<p>Enter a number. Wait for list of factors of given number</p>

<div>
    <form action="/factors" method="POST"><br>
        <p>Enter number:</p> <input type="number" name="numberInput" min="0" required>
        <input type="submit" value="Submit" name="sumbit">
    </form>

    <ul>
        {% for item in numArr %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>

    <p>{{num}}</p>
</div>
{% endblock %}