{% extends "base.html" %}
{% block title %} ~~Word Count~~ {% endblock %}
{% block content  %}

<p> Enter a multiline string. Will list each word and frequency below.</p>

<form action="/wordCount" method="POST"><br>
  Enter Multi-Line String: <input type="text" name="strInput">
  <input type="submit" value="Submit" name="submit">
</form>

<table>
  <td>Word</td>
  <td>Count</td>
  {% for item in wordArr %}
    <tr>
      <td>{{ item }}</td>
      <td>{{ wordArr[item] }}</td>
    </tr>
  {% endfor %}
</table>

<p>{{ num }}</p>
{% endblock %}