{% extends "base.html" %}
{% block title %}Table{% endblock %}
{% block header %}Fruit Database{% endblock %}
{% block content %}

    <table>
        <th>Fruit</th>
        <th>Color</th>
        <th>Links</th>

        {% for member in list %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.color }}</td>
                <td><a href="/update/{{ member.id }}">Update</a><br><a
                        href="/delete/{{ member.id }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}